.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 5rem;
}

h2 {
  text-align: center;
  color: #fff;
}
